* {
	margin: 0px;
	padding: 0px;
}

body {

	background-color: black;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	font-size: 22px;
}

#banner {
	
	font-family: 'ZCOOL KuaiLe', cursive;

	position: absolute;
	left: 33%;
	top: 30%;

	color: red;

	font-size: 50px;
}

#menu {

	position: absolute;

	top: 50%;
	left: 40%;

	color: white;

	font-size: 20px;
}
